@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap:100,200,300,400,500,600,700');

@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap:100,200,300,400,500,600,700');

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: boder;
    font-family: 'Oswald' sans-serif;
}

.hero-image{
    height: auto;
    width:100%;
    background-image: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size:cover;
    position: relative;
    text-align: center;
     object-fit: fill;
}

/* blah blah */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 9vw;
}



.main-advert{
    font-size: 80px;
    text-shadow: 2px 2px 4px #000000;
}

.navbar{
    padding: 20px 0;
}

.navbar-brand{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2em;
    color: #262626;
    font-style: italic;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    font-size: 4vw;
}

.nav-item{
    font-weight: 600;
    text-transform: uppercase;
    color:#fff;

}

.nav-link dropdown-toggle {
    background: #262626;
}

.button-image{
    background-color: #e7e7e7;
}

.prague-thumbnail{
    max-width: 100%;
    height: auto;
}

.col{
    width: 66%;
}

header{
    width: 100%;
}

.responsive{
    width: 100%;
    position: center;
    background-size: cover;
    background-position: center;
    background: no-repeat;
}

h2{
    width: 100%;
    position: center;
    background-size: cover;
    background-position: center;
    background: no-repeat;
    font-size: 5vw;
    text-align: justify;
}

.main-advert{
    width: 100%;
    position: center;
    background-size: cover;
    background-position: center;
    background: no-repeat;
}

.section-header{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background: url(..assets/hero-image/1hero-image.jpg)
}

img{
    max-width: 100%;
    height: auto;
}


